[submodule "promccore"]
	path = promccore
	url = https://github.com/promcteam/promccore
	branch = master
	update = rebase
[submodule "prorpgitems"]
	path = prorpgitems
	url = https://github.com/promcteam/prorpgitems
	branch = main
	update = rebase
[submodule "proskillapi"]
	path = proskillapi
	url = https://github.com/promcteam/proskillapi
	branch = master
	update = rebase
